{
	"useTabs": false,
	"tabWidth": 2,	
	"trailingComma": "none",
	"singleQuote": true,    
	"jsxSingleQuote": false,    
	"bracketSpacing": false,
	"arrowParens": "avoid",
	"semi": false,
	"quoteProps": "as-needed",
	"printWidth" : 100,
	"endOfLine": "auto"
}